@tailwind base;
@tailwind components;
@tailwind utilities;

.animationLogo {
  animation: animationLogo 2s ease-in-out;
}
@keyframes animationLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#heroFooter {
  max-width: 1280px;
  margin: 0 auto 20px;
  padding: 10px;
  background: rgb(46, 110, 155);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
